.main {
  overflow: hidden;
  position: relative;
}
.main-inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.main-title {
  position: relative;
  width: 490px;
  height: 46px;
  padding-top: 80px;
  margin: 0 auto 50px;
}
.main-title .title {
  width: 490px;
  text-align: center;
}
.main-title .title i {
  display: inline-block;
  width: 196px;
  height: 46px;
  background: url(/static/image/main_title.png) no-repeat;
}
.main-title .line {
  position: absolute;
  top: 104px;
  width: 72px;
  height: 1px;
  background-color: #fff;
  opacity: .1;
}
.main-title .line-left {
  left: 0;
}
.main-title .line-right {
  right: 0;
}
.readAll {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 15px;
}
.readAll i {
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 6px;
  background-position: -40px -260px;
}
.readAll:hover i {
  background-position: -120px -60px;
}
.main-tab {
  text-align: center;
  font-size: 0;
}
.main-tab .item {
  display: inline-block;
  height: 50px;
  font-size: 16px;
  margin: 0 35px;
  color: #fff;
  opacity: .5;
}
.main-tab .item:hover,
.main-tab .item-cur {
  opacity: 1;
}
.main-slider {
  overflow: hidden;
  width: 1200px;
}
.main-slider .slider-wrapper {
  position: relative;
  left: 0;
  height: 414px;
  margin-bottom: 35px;
}
.slider-wrapper li {
  float: left;
  overflow:hidden;
  width: 300px;
  height: 414px;
}
.slider-wrapper .img {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.main .img img,
.main .img i,
.main .mask,
.main .icon-play {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.main .img:hover img {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
}
.main .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
.main .icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -35px;
  background: url(/static/image/icon_play.png) no-repeat;
  opacity: 0;

  transform: scale(0.7);
  -webkit-transform: scale(0.7);
}
/* play && mask 这里有一个就复制一个过来 */
.slider-wrapper .img:hover .mask,
.rank-list__item:hover .mask {
  opacity: 0.4;
}
.slider-wrapper .img:hover .icon-play,
.rank-list__item:hover .icon-play,
.mv-list .item:hover .icon-play {
  opacity: 1;

  transform: scale(1);
  -webkit-transform: scale(1);
}
.slider-wrapper .info {
  width: 100%;
  height: 114px;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  font-size: 16px;
}
.slider-wrapper .info-event  .info {
  background-color: rgba(0, 0, 0, .6);
}
.slider-wrapper li:hover .info {
  background-color: #31c27c !important;
}
.slider-wrapper .info .title {
  padding-top: 34px;
}
.slider-wrapper .info .title a,
.slider-wrapper .info .title .icon-sprite {
  display: inline-block;
  color: #fff;
}
.slider-wrapper .info .icon-sprite {
  opacity: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-position: -180px -100px;

  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
}
.slider-wrapper li:hover .info .icon-sprite {
  opacity: 1;
}
.slider-wrapper .info .author {
  line-height: 44px;
  color: #999;
}
.slider-wrapper li:hover .info .author {
  display: inline-block;
  color: #c1e9d5;
}
.slider-btns {
  text-align: center;
  font-size: 0;
}
.slider-btns span {
  display: inline-block;
  width: 30px;
  height: 1px;
  margin: 0 5px;
  padding: 10px 0;
  cursor: pointer;
}
.slider-btns i {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .3);
}
.slider-btns span.cur i {
  background-color: rgba(255, 255, 255, 1);
}
.slider-btns span:hover i {
  background-color: #fff;
}
.main-operate {}
.main-operate .slider-prev,
.main-operate .slider-next {
  position: absolute;
  z-index: 999;
  top: 50%;
  margin-top: -54px;
  width: 72px;
  height: 108px;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.main-operate .slider-prev {
  left: -72px;
}
.main:hover .main-operate .slider-prev {
  left: 0;
}
.main-operate .slider-next {
  right: -72px;
}
.main:hover .main-operate .slider-next {
  right: 0;
}
.main-operate .slider-prev:hover,
.main-operate .slider-next:hover {
  width: 76px;
  background-color: #31c27c !important;
}
.main-operate .slider-prev i,
.main-operate .slider-next i {
  position: absolute;
  top: 50%;
  display: block;
  width: 11px;
  height: 18px;
  margin-top: -9px;
}
.main-operate .slider-prev i {
  left: 28px;
  background-position: -180px 0;
}
.main-operate .slider-next i {
  right: 28px;
  background-position: -160px 0;
}
/* 分享到 */
.slider-share {
  display: none;
  position: absolute;
  z-index: 999;
  left: 286px;
  top: 703px;
  width: 168px;
  height: 120px;
  border: 1px solid #bfbfbf;
  padding: 5px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.slider-share li {
  position: relative;
}
.slider-share a {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
}
.slider-share a:hover {
  color: #fff;
  background-color: #31c27c;
}
.slider-share .icon-add,
.slider-share .icon-share,
.slider-share .icon-download {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.slider-share .icon-add,
.slider-share .icon-share,
.slider-share .icon-download {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.slider-share .icon-add {
  background-position: -20px 0;
}
.slider-share a:hover .icon-add {
  background-position: -20px -20px;
}
.slider-share .icon-share {
  background-position: -100px -180px;
}
.slider-share a:hover .icon-share {
  background-position: -100px -200px;
}
.slider-share .icon-download {
  background-position: -40px -220px;
}
.slider-share a:hover .icon-download {
  background-position: -40px -240px;
}
.slider-share .icon-arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 7px;
  height: 11px;
}
.slider-share a:hover .icon-arrow {
  background-position: 0 -20px;
}
