#recommend {
  height: 610px;
}
#recommend .main-title .title i {
  background-position: 0 -240px;
}
#recommend .main-title .line {
  background-color: #000;
}
#recommend .main-operate .slider-prev,
#recommend .main-operate .slider-next {
  background-color: rgba(0, 0, 0, .1);
  margin-top: -38px;
}
.carousel-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
.carousel-slider .item {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 750px;
  height: 300px;
  opacity: 0;

  transition: all 300ms ease-out;
}
.carousel-slider .item-pic2,
.carousel-slider .item-pic4 {
  z-index: 2;
  opacity: .8;
}
.carousel-slider .item-pic1 {
  transform: translate3d(-224px,0,0) scale(0.81);
}
.carousel-slider .item-pic2 {
  transform: translate3d(0px,0,0) scale(0.81);
  transform-origin: 0% 50%;
}
.carousel-slider .item-pic3 {
  z-index: 3;
  opacity: 1;
  transform: translate3d(224px,0,0) scale(1);
}
.carousel-slider .item-pic4 {
  transform: translate3d(449px,0,0) scale(0.81);
  transform-origin: 100% 50%;
}
.carousel-slider .item-pic5 {
  transform: translate3d(672px,0,0) scale(0.81);
}
.carousel-slider .item-pic6 {
  transform: translate3d(896px,0,0) scale(0.81);
}
.carousel-slider .item-pic7 {
  transform: translate3d(1120px,0,0) scale(0.81);
}
.carousel-slider .item-pic8 {
  transform: translate3d(1344px,0,0) scale(0.81);
}
.carousel-slider .item-pic9 {
  transform: translate3d(1568px,0,0) scale(0.81);
}
.carousel-slider .item-pic10 {
  transform: translate3d(1792px,0,0) scale(0.81);
}
.carousel-slider .item-pic11 {
  transform: translate3d(2016px,0,0) scale(0.81);
}
.carousel-slider .item img {
  width: 100%;
}
#recommend .slider-btns span i {
  background-color: #b9b9b9;
}
#recommend .slider-btns span.cur i {
  background-color: #151515;
}
