#mv {
  height: 860px;
  background-color: #e6e6e6;
}
#mv .main-title .title i {
  width: 170px;
  background-position: 0 -180px;
}
#mv .main-title .line {
  background-color: #000;
}
#mv .main-tab .item {
  color: #353535;
  opacity: .5
}
#mv .main-tab .item:hover,
#mv .main-tab .item-cur {
  opacity: 1;
}
#mv .readAll {
  color: #333;
}
#mv .readAll:hover {
  color: #31c27c;
}
#mv .readAll i {
  background-position: -120px -40px;
}
#mv .readAll:hover i {
  background-position: -120px -60px;
}
.mv-list {}
.mv-list .item {
  float: left;
  width: 300px;
  height: 304px;
}
.mv-list .img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 170px;
}
.mv-list .img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7) 100%);
}
.mv-list .img img {
  width: 100%;
  height: 100%;
}
.mv-list .info {
  padding: 38px 0;
  text-align: center;
}
.mv-list .info .title {}
.mv-list .info .author {
  line-height: 34px;
}
.mv-list .info .author,
.mv-list .info .play-total {
  color: #999;
}
.mv-list .info .author:hover {
  color: #31c27c;
}
.mv-list .info .play-total i {
  display: inline-block;
  width: 19px;
  height: 12px;
  margin-right: 5px;
  background-position: -180px -20px;
  vertical-align: -1px;
}
